body {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
    background-color: #073A74;
    position: relative;
    text-align: center;
    text-decoration:none;
    color: #F3BFD9;
}